.movieCard {
  width: 181px;
  height: auto;
  background-color: rgb(58, 58, 58);
  color: white;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%)
}
.header {
  height: 50px;
  background-color: #000
}
.list-item a {
  text-decoration: none;
  color: rgb(71, 71, 71)
}
.box {
  width: 500px;
  height: 100px;
  /* position: absolute;
  left: calc(50%-150px);
  top: calc(50%-50px); */
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}