.movieCard {
  width: 181px;
  height: auto;
  background-color: rgb(58, 58, 58);
  color: white;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%)
}
.header {
  height: 50px;
  background-color: #000
}
.list-item a {
  text-decoration: none;
  color: rgb(71, 71, 71)
}